* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Google sans";
  src: url("./assets/font/google_sans_400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Google sans";
  src: url("./assets/font/google_sans_500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Google sans";
  src: url("./assets/font/google_sans_700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Google sans", Arial, Helvetica, sans-serif;
  background-color: #fff;
  font-size: 14px;
  color: #202124;
  line-height: 1.5;
  height: 300vw;
}

img {
  display: block;
}

header {
  height: 56px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

header .container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
  justify-content: center;
}

header .logo {
  display: flex;
  align-items: center;
}
